**/target/
.idea
*.iml
*.class
*Test.java
**/test/

# Spring Boot application profiles
application-dev.yml

# Frontend / Node 忽略规则
**/node_modules/
**/dist/
**/npm-debug.log*
**/yarn-error.log
**/package-lock.json
**/yarn.lock